{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"/>

</head>
<body>
<div id="box">
    <div id="header1">
        <img src="{% static '/img/title.png' %}" id="pic">
    </div>
    <div id="nav">

        <ul id="header2_ul">
            <li><a href="#">登录</a></li>
            <li><a href="#">注册</a></li>
            <li><a href="#">我的订单</a></li>
            <li><a href="#">在线客服</a></li>
            <li><a href="#">论坛</a></li>
            <li><a href="#">投诉建议</a></li>
            <li id="lili"><a href="#">电话</a>
                <ul>
                    <li>110</li>
                    <li>119</li>
                    <li>120</li>
                </ul>
            </li>

        </ul>

    </div>

    <div id="main">
        <div id="biaoti1">
            <form action="/index/" class="myform" method="post">
                <div class="oneList">
                    <label for="StudentID">学号*</label>
                    <input type="text" name="StudentID" id="StudentID" value={{ StudentID }} placeholder={{ StudentID }}>
                </div>
                <div class="oneList">
                    <label for="RePassword">姓名</label>
                    <input type="text" name="" id="UserName" value={{ StudentName }} placeholder={{ StudentName }}>

                </div>
                <div class="oneList">
                    <label for="RePassword">年级</label>
                    <select name="subject" required>
                        <option value={{ cla_Name }}>{{ cla_Name }}</option>
                        {% for mes_name in all_cla_name %}
                            <option value={{ mes_name }}>{{ mes_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="oneList">
                    <label for="RePassword">了解方式</label>
                    <select name="other" required>
                        <option value="0">{{ StudentID }}</option>
                        <option value="1">搜索引擎</option>
                        <option value="2">朋友圈</option>
                        <option value="3">朋友推广</option>
                        <option value="4">广告投放</option>
                        <option value="5">所有</option>
                    </select>
                </div>
                <div class="oneList">
                    <input type="submit" value="提交">
                </div>
            </form>
        </div>

        <div id="info">
            <ul class="list">
                {% for index in student_info_name %}
                    <li class="columnhead">{{ index }}:</li>
                {% endfor %}
                {% for index in student_info_value %}
                    <li>{{ index }}</li>
                {% endfor %}
            </ul>

        </div>

        <div id="table1">

        </div>
        <div id="biaoti2">

        </div>
        <div id="biaoti3">

        </div>
        <div id="pacture1">

        </div>
        <div id="pacture2">

        </div>
        <div id="pacture3">

        </div>
        <div id="pacture4">

        </div>
    </div>


</div>
</div>
<script defer>
    var MyViewVar = {

        subject_all: {{ subject_all|safe }},
        exam_name: {{ exam_name|safe }},
        table_1_series_rank:{{ table_1_series_rank|safe }},
        table_1_series:{{ table_1_series|safe }},
        days_7: {{ days_7|safe }},
        kind_all:{{ kind_all|safe }},
        consumption_1_series:{{ consumption_1_series|safe }}
    };
</script>
<script defer type="text/javascript" src="{% static '/js/echarts.min.js' %}"></script>
<script defer type="text/javascript" src="{% static '/js/jquery-3.1.1.min.js' %}"></script>
<script defer type="text/javascript" src="{% static '/js/index.js' %}"></script>
{#<script type="text/javascript" src="<sta></sta>tic '/js/script.js' %}"></script>#}
</body>
</html>
